{% extends "base.html" %}
{% block title %}Home-Anwar's portfolio{% endblock %}
{% block content %}
    <div  class="hero">
        <h1>Hello, I'm Anwar Hussain</h1>
        <p>Python Full Stack Developer in training</p>
        <div class="about">
            <a href="{{url_for('contact')}}" class="btn">Hire me</a>
            <a href="www.linkedin.com/in/anwar-hussain-014aba37b" class="btn">LinkedIn</a>
            <a href="{{url_for('contact')}}" class="btn">Hire me</a>
        </div>
    </div>
{%  endblock %}
